h1,
h2 {
  text-transform: uppercase;
  color: #313131;
  font-family: sans-serif;
}

h2 {
  margin-top: 2em;
}

body {
  background: #656565;
}

.doggos img {
  max-width: 400px;
  border-radius: 10px;
}

@media (max-width: 400px ){
  .doggos img {
    max-width: 300px;
  }
}

button,
select {
  margin-top: 1em;
  padding: 20px;
  background: #9575cd;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-size: 1.1em;
  font-family: sans-serif;
}

select {
  height: 50px;
  width: 150px;
  text-transform: capitalize;
}
